.textInfoDiv h4, p {
    display: inline-block;
}

h4 {
    margin-right: 0.5em;
}

.infoId {
    font-weight: bold;
    margin-left: 2em;
}

button {
    font-size: 1em;
    margin: auto 1em;
    background-color: #D90D39;
    color: #fff;
    border: none;
    border-radius: 30px;
    height: 3em;
    width: 8em;
}

