.formTitle {
    font-size: 1.5em;
}

.fromSubtitle {
    margin-top: 3em;
    font-size: 1em;
    font-weight: lighter;
}

.idInput {
    display: block;
    margin: 1em auto;
    border: solid #AAB1C9 1.5px;
    border-radius: 5px;
    height: 1em;
    width: 2em;
    font-size: 1.5em;
}

.rankingBtn {
    font-size: 1.2em;
    margin: auto;
    background-color: #D90D39;
    color: #fff;
    border: none;
    border-radius: 30px;
    height: 2.5em;
    width: 12em;
}

