body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    356deg,
    rgba(34, 193, 195, 1) 1%,
    rgba(8, 63, 132, 1) 28%,
    rgba(0, 26, 114, 1) 93%
  );

  text-align: center;
  height: 55rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
